@model FitnessClubCopy.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Логін";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="section" id="abonements">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Вхід</h2>
                </div>
            </div>
        </div>
        <form asp-action="Login" method="post" class="login-form">

            <div class="container">
                <label asp-for="Username"><b>Логін</b></label>
                <input type="text" asp-for="Username" placeholder="Введіть логін">
                <div class="msg">
                    <span class="err" asp-validation-for="Username"></span>
                </div>

                <label asp-for="Password"><b>Пароль</b></label>
                <input type="password" asp-for="Password" placeholder="Введіть парль">
                <div class="msg">
                    <span asp-validation-for="Password" class="err"></span>
                </div>

                @if (TempData["msg"] != null)
                {
                    <div class="msg">@TempData["msg"]</div>
                }

                <button type="submit">Вхід</button>
                <a class="text-alert" href="/UserAuthentication/Register">Ще не маєте акаунту? Зареєструватись</a>
            </div>
        </form>
    </div>
</section>
