@model FitnessClubCopy.Models.Ticket

@{
    ViewData["Title"] = "Додати";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="section" id="abonements">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Додання нового абонемента</h2>
                </div>
            </div>
        </div>
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group mt-2">
                <label asp-for="Type">Тип</label>
                <input asp-for="Type" class="form-control" />
            </div>
            <div class="form-group mt-2">
                <label asp-for="Period">Період</label>
                <input asp-for="Period" class="form-control" />
            </div>
            <div class="form-group mt-2">
                <label asp-for="Price">Ціна</label>
                <input asp-for="Price" class="form-control" />
            </div>
            <div class="form-group mt-2">
                <label asp-for="Description">Опис</label>
                <textarea asp-for="Description" class="form-control" maxlength="2500" rows="4"></textarea>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Photo">Фото</label>
                <input asp-for="Photo" type="file" class="form-control" />
            </div>
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-primary">Додати</button>
            </div>
        </form>
        </div>
</section>
