@model FitnessClubCopy.Models.Ticket

@{
    ViewData["Title"] = "Видалити";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="section" id="abonements">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Видалення абонемента</h2>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <p>Ви впевнені, що хочете видалити даний абонемент?</p>

            <form asp-action="Delete" asp-controller="Crud" method="post">
                <input type="hidden" asp-for="TicketId" />

                <h4 class="small mt-2">Тип: @Model.Type</h4>
                <h4 class="small">Період: @Model.Period</h4>
                <h4 class="small">Ціна: @Model.Price</h4>
                <h4 class="small">Опис: @Model.Description</h4>

                <button type="submit" class="btn btn-danger">Так, видалити</button>
                <a asp-action="Index" class="btn btn-secondary">Скасувати</a>
            </form>

        </div>
    </div>
</section>