@{
    ViewData["Title"] = "Home Page";
}

<div class="main-banner" id="top">
    <img src="~/images/gym-photo.jpg" alt="Опис вашого зображення" style="max-width: 100%; max-height: 100%;" />
    <div class="video-overlay header-text">
        <div class="caption">
            <h6>Долай межі, побудуй майбутнє</h6>
            <h2>Разом до кращої версії себе!</h2>
            <div class="main-button scroll-to-section">
                <a href="#features">Become a member</a>
            </div>
        </div>
    </div>
</div>
<section class="section" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Наші <em>програми</em></h2>
                    <img src="~/images/line-dec.png" alt="waves">
                    <p>Опис програм, які ми пропонуємо</p>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="features-items">
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="~/images/number-1.png" alt="First One">
                        </div>
                        <div class="right-content">
                            <h4>Програми для початківців</h4>
                            <p>Включають орієнтовані на ознайомлення з тренажерами та базовими вправами та заняття з тренером для правильного виконання вправ</p>
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="~/images/number-2.png" alt="second one">
                        </div>
                        <div class="right-content">
                            <h4>Програми для схуднення</h4>
                            <p>Включають кардіотренування (біг, велосипед, еліптичний тренажер), високоінтенсивні інтервальні тренування, силові тренування з використанням ваги тіла</p>
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="~/images/number-3.png" alt="third gym training">
                        </div>
                        <div class="right-content">
                            <h4>Програми для збільшення м'язової маси</h4>
                            <p>Включає силові тренування з важкими вагами та системи підвищення ваги</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="features-items">
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="~/images/number-4.png" alt="fourth muscle">
                        </div>
                        <div class="right-content">
                            <h4>Функціональний тренінг</h4>
                            <p>Включає тренування на функціональних тренажерах (TRX, батут, медицинські м'ячі) та заняття з використанням багатофункціональних тренажерів</p>
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="~/images/number-5.png" alt="training fifth">
                        </div>
                        <div class="right-content">
                            <h4>Персональні тренування</h4>
                            <p>Включає індивідуально розроблені програми для врахування конкретних потреб та цілей кожного клієнта.</p>
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="~/images/number-6.png" alt="gym training">
                        </div>
                        <div class="right-content">
                            <h4>Спеціалізовані програми</h4>
                            <p>Включає тренування для покращення спортивної витривалості та тренування для покращення певних груп м'язів.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ***** Початок інформації про зал ***** -->
<section class="section" id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <h2>Ласкаво <em>просимо </em> у наш <em>фітнес-клуб</em>!</h2>
                    <p>Тут ми пропонуємо тренування для тіла для досягнення ваших фітнес-цілей. У нас ви знайдете сучасне обладнання, професійних інструкторів та різноманіття групових занять, які роблять фітнес доступним та захоплюючим для кожного. Приєднуйтеся до нашої спільноти, де здоров'я та добробут - наш пріоритет!</p>
                    <div class="main-button scroll-to-section">
                        <a href="#our-classes">Стати учасником</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Кінець інформації про зал ***** -->

<!-- ***** Початок занять ***** -->

<!-- ***** Кінець занять ***** -->

<!-- ***** Початок графіку ***** -->

<!-- ***** Кінець графіку ***** -->

<!-- ***** Початок тренерів ***** -->
<section class="section" id="trainers">
    <div class="container">
        <div class="arrow arrow-left" id="prevTrainer"></div>
        <div class="arrow arrow-right" id="nextTrainer"></div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Наші <em>тренери</em></h2>
                    <img src="~/images/line-dec.png" alt="">
                    <p>Список наших тренерів</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="trainer-item" data-index="0">
                    <div class="image-thumb">
                        <img src="~/images/first-trainer.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <span>Силовий тренер</span>
                        <h4>Григоренко Петро</h4>
                        <p>Має понад 10 років досвіду у силовому тренуванні, прагне покращити фізичну форму і збільшити силу своїх клієнтів, сприяючи їхньому розвитку та підвищенню самовпевненості. </p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item" data-index="0">
                    <div class="image-thumb">
                        <img src="~/images/second-trainer.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <span>Тренер м'язів</span>
                        <h4>Шерстюк Ілля</h4>
                        <p>володіє понад 8-річним досвідом у тренуванні м'язів, один із сильних аспектів роботи - це індивідуальний підхід до кожного клієнта. </p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item" data-index="0">
                    <div class="image-thumb">
                        <img src="~/images/third-trainer.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <span>Power Trainer</span>
                        <h4>Данилів Тимур</h4>
                        <p>Bitters cliche tattooed 8-bit distillery mustache. Keytar succulents gluten-free vegan church-key pour-over seitan flannel.</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item" data-index="0">
                    <div class="image-thumb">
                        <img src="~/images/third-trainer.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <span>Power Trainer</span>
                        <h4>аув уваца</h4>
                        <p>Bitters cliche tattooed 8-bit distillery mustache. Keytar succulents gluten-free vegan church-key pour-over seitan flannel.</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button id="prevTrainer">Назад</button>
                <button id="nextTrainer">Вперед</button>
            </div>
        </div>
    </div>
</section>
<!-- ***** Кінець про тренерів ***** -->
<!-- ***** Початок зворотнього зв'язку ***** -->
<section class="section" id="contact-us" style="background-image: url('@Url.Content("~/images/contact-bg.jpg")'); background-size: cover; background-position: center;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="contact-form">                
                    <form id="contact" action="@Url.Action("ProcessFormIndex", "Contact")" method="post">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="name" type="text" id="name" placeholder="Ім'я" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="email" type="text" id="email" placeholder="Пошта" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="SubjectOfMessage" type="text" id="subject" placeholder="Тема повідомлення">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" rows="6" id="message" placeholder="Повідомлення" required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-button">Надіслати повідомлення</button>                                  
                                </fieldset>
                            </div>                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Кінець зворотнього зв'язку ***** -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/js/site.js"></script>