@{
    ViewData["Title"] = "Абонементи";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FitnessClub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FitnessClub.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header-area header-sticky" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">Training<em> Studio</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                            <li class="scroll-to-section"><a asp-controller="Home" asp-action="Index" class="active">Головна</a></li>
                            <li class="scroll-to-section"><a asp-controller="Home" asp-action="Index">Про нас</a></li>
                            <li class="scroll-to-section"><a asp-controller="Home" asp-action="Classes">Заняття</a></li>
                            <li class="scroll-to-section"><a asp-controller="Crud" asp-action="Tickets">Абонементи</a></li>
                            <li class="scroll-to-section"><a asp-controller="Home" asp-action="Schedule">Графік</a></li>
                            <li class="scroll-to-section"><a asp-controller="Home" asp-action="Index">Контакти</a></li>
                            <li class="main-button"><a href="/UserAuthentication/Login">Sign Up</a></li>
                            <li><a href="/UserAuthentication/Logout">Logout</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
    <section class="section" id="abonements">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Абонементи</h2>
                        <img src="images/line-dec.png" alt="">
                        <p>Оберіть підходящий абонемент для ваших потреб</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Тип абонементу</th>
                                <th scope="col">Період</th>
                                <th scope="col">Ціна</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Базовий</td>
                                <td>1 місяць</td>
                                <td>$50</td>
                            </tr>
                            <tr>
                                <td>Розширений</td>
                                <td>3 місяці</td>
                                <td>$120</td>
                            </tr>
                            <tr>
                                <td>Преміум</td>
                                <td>6 місяців</td>
                                <td>$200</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>


    <footer id="tickets-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Номери телефону для зв'язку: +380971820167 | +380671840199
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap -->
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/js/scrollreveal.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imgfix.min.js"></script>
    <script src="~/js/mixitup.js"></script>
    <script src="~/js/accordions.js"></script>
    <script src="~/js/site.js"></script>

    <!-- Global Init -->
    <script src="~/js/custom.js"></script>
</body>
</html>