@{
    ViewData["Title"] = "Тренери";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="section" id="trainers">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Наші <em>тренери</em></h2>
                    <img src="~/images/line-dec.png" alt="">
                    <p>Список наших тренерів</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="trainer-item" data-index="0">
                    <div class="image-thumb">
                        <img src="~/images/first-trainer.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <span>Силовий тренер</span>
                        <h4>Григоренко Петро</h4>
                        <p>Має понад 10 років досвіду у силовому тренуванні, прагне покращити фізичну форму і збільшити силу своїх клієнтів, сприяючи їхньому розвитку та підвищенню самовпевненості. </p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item" data-index="1">
                    <div class="image-thumb">
                        <img src="~/images/second-trainer.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <span>Тренер м'язів</span>
                        <h4>Шерстюк Ілля</h4>
                        <p>володіє понад 8-річним досвідом у тренуванні м'язів, один із сильних аспектів роботи - це індивідуальний підхід до кожного клієнта. </p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item" data-index="2">
                    <div class="image-thumb">
                        <img src="~/images/third-trainer.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <span>Power Trainer</span>
                        <h4>Данилів Тимур</h4>
                        <p>Bitters cliche tattooed 8-bit distillery mustache. Keytar succulents gluten-free vegan church-key pour-over seitan flannel.</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="margin-top: 20px;">
                <div class="trainer-item" data-index="3">
                    <div class="image-thumb">
                        <img src="~/images/third-trainer.jpg" alt="" style="margin-bottom: 20px;">
                    </div>
                    <div class="down-content">
                        <span>Power Trainer</span>
                        <h4>аув уваца</h4>
                        <p>Bitters cliche tattooed 8-bit distillery mustache. Keytar succulents gluten-free vegan church-key pour-over seitan flannel.</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
    </div>
</section>
